<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Interests</title>
        <link href="style.css"
         type="text/css" 
         rel="stylesheet">
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
    </head>
    <body>
        <h1 style="color:Tomato;">Elvin Canseco</h1>
        <ul class="navigation">
            <li><a href="/">About Me</a></li>
            <li><a href="/classes">Classes</a></li>
        </ul>
        <h2 style="color:MediumSeaGreen;">Sports</h2>
        <table>
            <thread>
                <tr>
                    <th>Sport</th>
                    <th>Favorite Team</th>
                    <th>Favorite Player in the Team </th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td> Soccer </td>
                    <td> Manchester United </td>
                    <td> Marcus Rashford </td>
                </tr>
                <tr>
                    <td> Basketball </td>
                    <td> Los Angeles Lakers </td>
                    <td> Kyle Kuzma </td>
                </tr>
                <tr>
                    <td> Baseball </td>
                    <td> Los Angeles Dodgers </td>
                    <td> Cody Bellinger </td>
                </tr>
            </tbody>
    </table>
        <h2 style="color:MediumSeaGreen;">Favorite Artists</h2>
        <ul>
            <li>Juice Wrld</li>
            <img src="https://images.genius.com/3e4896ec6044cb73cf134eeda7a189ea.960x960x1.jpg" alt="picture" border="5" width="128" height="128">
            <li>Khalid </li>
            <img src="https://ssl.ulximg.com/image/750x750/cover/1539906973_34b24205d2a43c3d7588c687a46a5e75.jpg/2757e483aac8af4f4232acf8b2968527/1539906973_aafbe5951508c8573244fd6e44bea6bd.jpg" alt="picture" border="5" width="128" height="128">
            <li>Post Malone</li>
            <img src="https://sslg.ulximg.com/image/750x750/cover/1567751210_fbe1bddbdf2c027bf9eacdd2bd95216a.jpg/264ed62fd1f5b03ff4f8b59e9d8cf82b/1567751210_0c4de787761c21386263983347c164f2.jpg" alt="picture" border="5" width="128" height="128">
        </ul>
        </h2>
        <h2 style="color:MediumSeaGreen;">Books Planning to Read</h2>
        <ul>
            <li><i>All Quiet on the Western Front</i> by Erich Maria Remarque</li>
            <li><i> Talking to Strangers</i>  by Malcolm Gladwell</li>
    </body>
</html>

