<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
        <link href="style.css"
         type="text/css" 
         rel="stylesheet">
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
    </head>
    <body>
        <h1 style="color:Tomato;">Elvin Canseco</h1>
        <ul class="navigation">
            <li><a href="/">About Me</a></li>
            <li><a href="/interests">Interests</a></li>
        </ul>
        
        <table>
            <thread>
                <tr>
                    <th>Classes Taken This Semester</th>
                    <th>Classes Next Semester</th>
                    <th>Other CS Classes I Want to Take</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td> Python </td>
                    <td> Intro to Biology </td>
                    <td> W3136 Essential Data Stuctures </td>
                </tr>
                <tr>
                    <td> Physics 1402 </td>
                    <td> Physics 1403 </td>
                    <td> 1004 Java </td>
                </tr>
                <tr>
                    <td> Gen Chem 2 </td>
                    <td> Biostatistics for Engineers </td>
                    <td> Computational Genomics </td>
                </tr>
                <tr>
                    <td> University Writing </td>
                    <td> Intro to Applied Math </td>
                    <td>  </td>
                </tr>
                <tr>
                    <td> Chem Laboratory</td>
                    <td> Intro to EE </td>
                    <td>  </td>
                <tr>
                    <td> Multivariable Calculus </td>             
                </tr>
            </tbody>
    </table>
    <h2>Favorite Class</h2>
    <p> The class I most enjoyed this semester is this one even though I felt
    really challenged at times.<br/><br/> I feel I learned a lot. I hope to fit 
    other CS application classes into my schedule <br/><br/>in the future.</p>   
    </body>
</html>

