<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
        <h1 style="color:Tomato;">Elvin Canseco</h1>
        <div id="media">   
            <h2 style="color:DodgerBlue;">Picture</h2>
            <img src="https://i.ibb.co/71kKsfz/picture.jpg" alt="picture" border="5" width="200" height="200">
            <h5><i>Elvin is the one on the far left with <br/><br/>
                the grey shirt.</i></h5>
        <div id="introduction">
            <h2 style="color:DodgerBlue;">About Me</h2>
            <p>Elvin is a first-year student from Los Angeles planning to study
               Biomedical Engineering.</p>
            <h2 style="color:DodgerBlue;"> Favorite Website for the Summer</h2>
            <a href="https://online-learning.harvard.edu/catalog?keywords=&paid%5B1%5D=1&max_price=&start_date_range%5Bmin%5D%5Bdate%5D=&start_date_range%5Bmax%5D%5Bdate%5D=">Favorite Website</a>
            <h3 style="color:DodgerBlue;">More</h3>
            <a href="/interests">Interests</a><br/><br/>
            <a href="/classes">Classes</a>
    </body>
</html>

